In [8]:
import pandas as pd
data = pd.Series(list(range(10, 1001)))
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])
print(data.loc[23])
print(data.loc[245])
print(data.iloc[0])
print(data.loc[0])

-70
33
255
10
10

In [11]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
#display(football.info())
#display(football.head())
#display(football.tail())
#display(football.describe())
#display(football.describe(include = ['object']))
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#    display(football.describe())
display(football.Age.mean())
display(football.Composure.count())
display(football.ShortPassing.std())
display(football.Wage.sum())
display(football.Value.min())

24.795378770256647

12897

14.740435689517149

96954000

0

In [75]:
#python-5
import pandas as pd
football = pd.read_csv('data_sf.csv')

#football[football.Age > 20]
#1
display(round(football[football.Wage > football.Wage.mean()].SprintSpeed.mean(),2))
#2
display(round(football[football.Wage < football.Wage.mean()].SprintSpeed.mean(),2))
#3
display(football[football.Wage == football.Wage.max()].Position)
#4
display(football[football.Nationality == 'Brazil'].Penalties.sum())
#5
display(round(football[football.HeadingAccuracy > 50].Age.mean(),2))
#6
display(football[(football.Composure > football.Composure.max()*0.9) 
                 & (football.Reactions > football.Reactions.max()*0.9)].Age.min())
#7
display(round(football[football.Age == football.Age.max()].Reactions.mean()
                 - football[football.Age == football.Age.min()].Reactions.mean(),2))
#8
display(football[football.Value > football.Value.mean()].Nationality.value_counts().idxmax())
#9
display(round(football[(football.Position == 'GK') 
                 & (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
                 / football[(football.Position == 'GK')
                 & (football.GKHandling == football.GKHandling.max())].Wage.mean(),2))
#10
display(round(football[football.Aggression == football.Aggression.max()].ShotPower.mean()
                 / football[football.Aggression == football.Aggression.min()].ShotPower.mean(),2))

67.57

62.41

0    RF
Name: Position, dtype: object

22789

25.59

24

22.64

'Spain'

2.77

2.08

In [82]:
#python-6
import pandas as pd
df = pd.read_csv('data_sf.csv')
#1
display(len(df['Club'].value_counts()))
#2
display(df['Club'].value_counts())

650

Shonan Bellmare      30
V-Varen Nagasaki     30
Vissel Kobe          29
FC Emmen             29
Padova               29
                     ..
Olympiacos CFP        8
Dinamo Zagreb         7
GD Chaves             7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [18]:
#python-6.4
import pandas as pd
df = pd.read_csv('data_sf.csv')
display(df.Position.value_counts(normalize=True))
s = df['FKAccuracy'].value_counts(bins=5)
display(s)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [62]:
#python-6.6
import pandas as pd
df = pd.read_csv('data_sf.csv')
#1
display(df[df.Nationality == 'Spain'].Wage.value_counts(bins=4, normalize=True))
#2
display(df[df.Club == 'Manchester United'].Nationality.nunique())
#3
#s = small_df['Wage'].value_counts(bins=4)
#display(s)
#small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]
display(df[(df.Nationality == 'Brazil') & (df.Club == 'Juventus')].Name.unique())
#4
display(df[df.Age > 35].Club.value_counts())
#5
display(df[df.Nationality == 'Argentina'].Age.value_counts(bins = 4))
#6
display(df[(df.Nationality == 'Spain')].Age.value_counts(normalize = True))

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

13

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

Club Atlético Huracán                  4
Hokkaido Consadole Sapporo             4
Club Atlético Tigre                    3
Estudiantes de La Plata                3
Club Atlético Colón                    3
                                      ..
Chongqing Dangdai Lifan FC SWM Team    1
LASK Linz                              1
Montreal Impact                        1
Birmingham City                        1
Tianjin Quanjian FC                    1
Name: Club, Length: 212, dtype: int64

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [69]:
#python-6.7.1
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df.groupby(['Position'])['Wage'].sum()
display(grouped_df.sort_values(ascending = False).head(10))

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
Name: Wage, dtype: int64

In [72]:
#python-6.8.1
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df.groupby(['Position'])['Wage', 'Value'].mean()
display(grouped_df.sort_values(['Value'], ascending = False))

C:\Users\kmv\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [88]:
#python-6.9.1
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
display(grouped_df)
display(len(grouped_df[grouped_df['mean'] == grouped_df['median']]))

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000
...                            ...     ...
Zagłębie Sosnowiec     1080.000000    1000
Çaykur Rizespor        5363.636364    4500
Örebro SK              1384.615385    1000
Östersunds FK          1950.000000    1000
Śląsk Wrocław          2083.333333    2000

[650 rows x 2 columns]

52

In [91]:
#python-6.9.2
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
display(grouped_df)
display(grouped_df[grouped_df['mean'] == grouped_df['median']].sort_values(['mean'], ascending = False).head(10))

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000
...                            ...     ...
Zagłębie Sosnowiec     1080.000000    1000
Çaykur Rizespor        5363.636364    4500
Örebro SK              1384.615385    1000
Östersunds FK          1950.000000    1000
Śląsk Wrocław          2083.333333    2000

[650 rows x 2 columns]

                      mean  median
Club
Cruzeiro           13000.0   13000
Göztepe SK          7000.0    7000
Brøndby IF          6000.0    6000
Sunderland          4000.0    4000
CD Feirense         4000.0    4000
1. FC Magdeburg     4000.0    4000
Northampton Town    2500.0    2500
Stade Brestois 29   2000.0    2000
Jeonnam Dragons     2000.0    2000
Pohang Steelers     2000.0    2000

In [116]:
#python-6.10.1
import pandas as pd
df = pd.read_csv('data_sf.csv')
chel_df = df[df.Club == 'Chelsea']
grouped_df = chel_df.groupby(['Club'])['Wage'].sum()
print(grouped_df)

Club
Chelsea    2035000
Name: Wage, dtype: int64

In [36]:
#python-6.10.2
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df[(df.Nationality == 'Argentina') 
                & (df.Age == 20)].groupby(['Club'])[['Wage']].max().sort_values(['Wage'], ascending = False).head(1)
display(grouped_df)

        Wage
Club
Inter  54000

In [35]:
#python-6.10.3
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df[(df.Nationality == 'Argentina') 
                & (df.Age == 30)].groupby(['Club'])[['Wage']].max().sort_values(['Wage'], ascending = False).head(1)
display(grouped_df)

                   Wage
Club
Manchester City  300000

In [34]:
#python-6.10.4
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df[(df.Nationality == 'Argentina') 
                & (df.Age == 30)].groupby(['Club'])[['Wage']].min().sort_values(['Wage'], ascending = True).head(1)
display(grouped_df)

                  Wage
Club
Deportes Iquique  1000

In [38]:
#python-6.10.5
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df[(df.Nationality == 'Argentina') & (df.Club == 'FC Barcelona')].groupby(['Club'])[['Strength', 'Balance']]
display(grouped_df.apply(max))

              Strength  Balance
Club
FC Barcelona        59       95

In [94]:
#python-6.13.1
import pandas as pd
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(values = ['Name'],
                       index = ['Club'],
                       columns = ['Position'],
                       aggfunc = 'count',
                       #margins = True,
                       fill_value = 0
                      )
display(pivot)
display(round(pivot.Name.GK.mean(),3))

                      Name                                 ...                 \
Position               CAM CB CDM CF CM GK LAM LB LCB LCM  ... RB RCB RCM RDM
Club                                                       ...
 SSV Jahn Regensburg     0  5   1  0  2  3   0  2   0   0  ...  2   1   0   1
1. FC Heidenheim 1846    1  3   0  0  1  2   0  2   1   0  ...  2   1   0   0
1. FC Kaiserslautern     0  3   3  0  0  3   0  2   1   0  ...  2   0   0   1
1. FC Köln               0  1   1  0  2  3   0  0   0   0  ...  1   0   0   0
1. FC Magdeburg          0  4   0  1  0  3   0  1   1   1  ...  0   1   1   0
...                    ... ..  .. .. .. ..  .. ..  ..  ..  ... ..  ..  ..  ..
Zagłębie Sosnowiec       3  2   2  0  0  3   0  3   1   0  ...  1   1   0   1
Çaykur Rizespor          1  2   5  0  0  3   0  2   1   0  ...  3   0   0   1
Örebro SK                0  4   0  0  1  3   0  0   1   1  ...  0   1   1   0
Östersunds FK            1  1   0  1  3  3   0  2   1   1  ...  1   1   0   0
Śląsk Wrocław            0  1   3  0  1  3   0  2   1   0  ...  2   1   0   1


Position              RF RM RS RW RWB ST
Club
 SSV Jahn Regensburg   0  0  0  0   0  3
1. FC Heidenheim 1846  0  3  0  0   0  2
1. FC Kaiserslautern   0  2  1  0   0  1
1. FC Köln             0  1  0  0   0  0
1. FC Magdeburg        0  3  1  2   0  1
...                   .. .. .. ..  .. ..
Zagłębie Sosnowiec     0  2  0  0   0  1
Çaykur Rizespor        0  1  0  0   0  1
Örebro SK              0  0  0  2   2  5
Östersunds FK          0  1  0  1   0  1
Śląsk Wrocław          0  2  1  0   0  2

[650 rows x 27 columns]

2.525

In [114]:
#python-6.13.2
import pandas as pd
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(values = ['Name'],
                       index = ['Club'],
                       columns = ['Position'],
                       aggfunc = 'count',
                       #margins = True,
                       fill_value = 0
                      )
display(pivot[pivot['Name']['CM'] == 0].Name.CM.value_counts())

0    136
Name: CM, dtype: int64

In [123]:
#python-6.14.1
import pandas as pd
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(values = ['Wage'],
                       index = ['Club'],
                       columns = ['Nationality'],
                       aggfunc = 'sum',
                       margins = True,
                       fill_value = 0
                      )
display(pivot)
display(pivot.loc['AS Monaco']['Wage']['Russia'])

                             Wage                                 \
Nationality           Afghanistan Albania Algeria Andorra Angola
Club
 SSV Jahn Regensburg            0       0       0       0      0
1. FC Heidenheim 1846           0       0       0       0      0
1. FC Kaiserslautern            0       0       0       0      0
1. FC Köln                      0       0       0       0      0
1. FC Magdeburg                 0       0       0       0      0
...                           ...     ...     ...     ...    ...
Çaykur Rizespor                 0       0       0       0      0
Örebro SK                       0    1000       0       0      0
Östersunds FK                   0       0       0       0      0
Śląsk Wrocław                   0       0       0       0      0
All                          5000  172000  585000    1000  71000

                                                                              \
Nationality           Antigua & Barbuda Argentina Armenia Australia  Austria
Club
 SSV Jahn Regensburg                  0         0       0         0        0
1. FC Heidenheim 1846                 0         0       0         0        0
1. FC Kaiserslautern                  0         0       0         0        0
1. FC Köln                            0         0       0         0    18000
1. FC Magdeburg                       0         0       0         0        0
...                                 ...       ...     ...       ...      ...
Çaykur Rizespor                       0         0       0         0        0
Örebro SK                             0         0       0         0        0
Östersunds FK                         0         0       0         0        0
Śląsk Wrocław                         0         0       0         0        0
All                                4000   5892000   68000    458000  1306000

                       ...                                                   \
Nationality            ... Uganda Ukraine United States  Uruguay Uzbekistan
Club                   ...
 SSV Jahn Regensburg   ...      0       0             0        0          0
1. FC Heidenheim 1846  ...      0       0             0        0          0
1. FC Kaiserslautern   ...      0       0             0        0          0
1. FC Köln             ...      0       0          1000        0          0
1. FC Magdeburg        ...      0       0             0        0          0
...                    ...    ...     ...           ...      ...        ...
Çaykur Rizespor        ...      0       0             0        0          0
Örebro SK              ...      0       0             0        0          0
Östersunds FK          ...      0       0             0        0          0
Śląsk Wrocław          ...      0       0             0        0          0
All                    ...   7000  174000        767000  1460000      18000


Nationality           Venezuela   Wales Zambia Zimbabwe       All
Club
 SSV Jahn Regensburg          0       0      0        0     90000
1. FC Heidenheim 1846         0       0      0        0     76000
1. FC Kaiserslautern          0       0      0        0     33000
1. FC Köln                    0       0      0        0     92000
1. FC Magdeburg               0       0      0        0     84000
...                         ...     ...    ...      ...       ...
Çaykur Rizespor               0       0      0        0    118000
Örebro SK                     0       0      0        0     36000
Östersunds FK                 0       0      0        0     39000
Śląsk Wrocław                 0       0      0        0     50000
All                      238000  972000  17000    45000  96954000

[651 rows x 157 columns]

61000

In [148]:
#python-6.14.2
import pandas as pd
df = pd.read_csv('data_sf.csv')
#display(df.info())
pivot = df.pivot_table(values = ['SprintSpeed'],
                       index = ['Club'],
                       columns = ['Position'],
                       aggfunc = 'mean',
                       #margins = True,
                       fill_value = 0
                      )
display(pivot)
display(pivot.max().sort_values(ascending=False))

                      SprintSpeed                                         \
Position                      CAM         CB        CDM    CF         CM
Club
 SSV Jahn Regensburg          0.0  46.600000  82.000000   0.0  61.000000
1. FC Heidenheim 1846        68.0  61.333333   0.000000   0.0  68.000000
1. FC Kaiserslautern          0.0  59.000000  65.666667   0.0   0.000000
1. FC Köln                    0.0  60.000000  32.000000   0.0  68.500000
1. FC Magdeburg               0.0  60.000000   0.000000  64.0   0.000000
...                           ...        ...        ...   ...        ...
Zagłębie Sosnowiec           73.0  46.500000  66.000000   0.0   0.000000
Çaykur Rizespor              74.0  58.000000  62.800000   0.0   0.000000
Örebro SK                     0.0  60.750000   0.000000   0.0  63.000000
Östersunds FK                67.0  76.000000   0.000000  77.0  56.333333
Śląsk Wrocław                 0.0  62.000000  66.666667   0.0  72.000000

                                                             ...             \
Position                      GK LAM         LB   LCB   LCM  ...         RB
Club                                                         ...
 SSV Jahn Regensburg   33.000000   0  76.000000   0.0   0.0  ...  68.500000
1. FC Heidenheim 1846  41.000000   0  60.000000  55.0   0.0  ...  80.500000
1. FC Kaiserslautern   42.666667   0  68.000000  45.0   0.0  ...  71.500000
1. FC Köln             33.000000   0   0.000000   0.0   0.0  ...  70.000000
1. FC Magdeburg        39.333333   0  69.000000  60.0  66.0  ...   0.000000
...                          ...  ..        ...   ...   ...  ...        ...
Zagłębie Sosnowiec     39.000000   0  60.333333  61.0   0.0  ...  68.000000
Çaykur Rizespor        47.000000   0  75.500000  63.0   0.0  ...  68.666667
Örebro SK              33.666667   0   0.000000  58.0  44.0  ...   0.000000
Östersunds FK          32.666667   0  74.500000  53.0  62.0  ...  54.000000
Śląsk Wrocław          30.666667   0  78.500000  59.0   0.0  ...  50.500000


Position                RCB RCM   RDM RF         RM  RS    RW   RWB         ST
Club
 SSV Jahn Regensburg   57.0   0  65.0  0   0.000000   0   0.0   0.0  61.666667
1. FC Heidenheim 1846  59.0   0   0.0  0  78.333333   0   0.0   0.0  69.000000
1. FC Kaiserslautern    0.0   0  55.0  0  82.500000  69   0.0   0.0  79.000000
1. FC Köln              0.0   0   0.0  0  77.000000   0   0.0   0.0   0.000000
1. FC Magdeburg        68.0  71   0.0  0  76.000000  53  80.5   0.0  44.000000
...                     ...  ..   ... ..        ...  ..   ...   ...        ...
Zagłębie Sosnowiec     58.0   0  62.0  0  71.000000   0   0.0   0.0  75.000000
Çaykur Rizespor         0.0   0  32.0  0  85.000000   0   0.0   0.0  48.000000
Örebro SK              62.0  66   0.0  0   0.000000   0  77.5  72.0  72.200000
Östersunds FK          73.0   0   0.0  0  85.000000   0  67.0   0.0  52.000000
Śląsk Wrocław          58.0   0  69.0  0  68.000000  81   0.0   0.0  54.000000

[650 rows x 27 columns]

             Position
SprintSpeed  RS          94.0
             RM          94.0
             LM          94.0
             LS          93.0
             RB          93.0
             LB          93.0
             CF          91.0
             LW          91.0
             ST          91.0
             RDM         91.0
             RW          91.0
             RCM         90.0
             CAM         89.0
             LF          88.0
             RCB         88.0
             LCB         88.0
             RWB         86.0
             RF          86.0
             CM          86.0
             LWB         86.0
             LAM         85.0
             LCM         84.0
             CDM         83.0
             LDM         79.0
             RAM         78.0
             CB          78.0
             GK          62.0
dtype: float64

In [174]:
#python-6.14.3
import pandas as pd
df = pd.read_csv('data_sf.csv')
#display(df.info())
pivot = df.pivot_table(values = ['SprintSpeed'],
                       index = ['Club'],
                       columns = ['Position'],
                       aggfunc = 'mean',
                       #margins = True,
                       fill_value = 0
                      )
#1
ndf = pd.DataFrame(pivot.SprintSpeed.ST)
display(ndf.sort_values('ST', ascending = False)[:3])
#2
display(pivot[pivot.SprintSpeed.ST >= pivot.SprintSpeed.ST.max()-5])
#3
pivot = df.loc[df['Position'].isin(['ST'])].pivot_table(['SprintSpeed'], index=['Club'], aggfunc='mean', fill_value=0)
display(pivot.sort_values('SprintSpeed', axis=0, ascending=False))

             ST
Club
Vitória    91.0
Sydney FC  88.0
CD Lugo    87.0

          SprintSpeed                                                          \
Position          CAM    CB   CDM   CF    CM         GK LAM    LB   LCB   LCM
Club
CD Lugo     72.000000  48.5  50.0  0.0  56.0  44.500000   0  72.5  71.0   0.0
Sydney FC   79.500000  59.0   0.0  0.0  64.5  44.666667   0  74.0  31.0  62.0
Vitória     70.666667  56.0  64.0  0.0   0.0  42.500000   0  68.0  61.0   0.0

           ...
Position   ...         RB   RCB RCM   RDM RF    RM  RS    RW  RWB    ST
Club       ...
CD Lugo    ...  72.333333   0.0   0   0.0  0  65.0  68   0.0  0.0  87.0
Sydney FC  ...  64.333333  47.0   0   0.0  0  67.0  71  74.0  0.0  88.0
Vitória    ...  75.000000   0.0   0  72.0  0   0.0   0   0.0  0.0  91.0

[3 rows x 27 columns]

                      SprintSpeed
Club
Vitória                 91.000000
Sydney FC               88.000000
CD Lugo                 87.000000
Brøndby IF              84.666667
Leicester City          84.500000
...                           ...
SV Darmstadt 98         47.500000
Real Sociedad           46.000000
San Jose Earthquakes    45.000000
1. FC Magdeburg         44.000000
Club Tijuana            40.000000

[591 rows x 1 columns]

In [180]:
#python-7.3.1
import pandas as pd
rt = pd.read_csv('films/ratings.csv')
mv = pd.read_csv('films/movies.csv')
display(rt.info())
display(mv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

None

In [194]:
#python-7.3.2
import pandas as pd
rt = pd.read_csv('films/ratings.csv')
mv = pd.read_csv('films/movies.csv')
display(mv.head(5))
display(mv.movieId.nunique())
display(mv.genres.nunique())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

9742

951

In [197]:
#python-7.3.4-5
import pandas as pd
rt = pd.read_csv('films/ratings.csv')
mv = pd.read_csv('films/movies.csv')
#1
display(rt.describe())
#2
display(rt.rating.min())
display(rt.rating.max())

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

0.5

5.0