# Unit-3

In [1]:
#12.1.1
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
users = pd.read_csv('bookmaker/users.csv', encoding = 'koi8-r', sep = '\t')
#print(log.info())
#display(log.head())
#print(users.info())
#display(users.head())
print(log['time'].isna().sum())

15

In [2]:
# 12.1.2-3-4
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
display(log.info())
display(log.dropna(axis=1).info())
display(log.dropna(axis=0).info())
'''
Еще один интересный параметр - subset. Что он делает?
Если передать в него список значений по одной оси (например, названия столбцов)
и задать при этом в параметре axis другую ось (в нашем случае 0),
то мы удалим те строки, для которых в данных столбцах находится пропуск.
То же самое работает и наоборот: нужно поменять 
axis на 1 и вместо названий столбцов передавать индексы строк.
'''
res = pd.concat([log[['user_id', 'time']].dropna(axis=1), log[['bet', 'win']]], axis=1)
display(res.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
 1   time     985 non-null    object
 2   bet      485 non-null    float64
 3   win      138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 14 to 991
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  133 non-null    object
 1   time     133 non-null    object
 2   bet      133 non-null    float64
 3   win      133 non-null    float64
dtypes: float64(2), object(2)
memory usage: 5.2+ KB

None

                            user_id  bet  win
0  Запись пользователя № - user_919  NaN  NaN
1  Запись пользователя № - user_973  NaN  NaN
2  Запись пользователя № - user_903  NaN  NaN
3  Запись пользователя № - user_954  NaN  NaN
4  Запись пользователя № - user_954  NaN  NaN

In [3]:
# 12.2.1
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
display(log)
display(log.drop_duplicates(subset=['user_id', 'time']))

                              user_id                  time      bet      win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

In [4]:
# 12.3.1
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']

def time_improver(time):
    if type(time) == float:
        return time
    else:
        return time.replace('[', '')
    

log.time = log.time.apply(time_improver)
log = log.dropna()
log.time = pd.to_datetime(log.time)
display(log.time.max().strftime('%Y-%m-%d'))
display(log.time.head())

'2019-04-20'

14    2019-01-02 08:57:36
29    2019-01-04 13:59:42
151   2019-01-16 21:54:22
189   2019-01-21 18:34:44
205   2019-01-22 05:26:59
Name: time, dtype: datetime64[ns]

In [5]:
# 12.4.1
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna()  
log['time'] = log['time'].apply(lambda x: x[1:])
log.time = pd.to_datetime(log.time)
log['minute'] = log.time.dt.minute
display(log.minute.value_counts())

36    7
57    5
44    5
18    5
35    4
40    4
25    4
2     4
48    4
8     4
1     4
55    4
34    4
16    3
6     3
23    3
15    3
31    3
0     3
11    3
38    3
43    3
46    2
10    2
54    2
52    2
17    2
50    2
9     2
20    2
49    2
45    2
12    2
5     2
26    2
58    2
29    2
42    2
33    2
3     1
4     1
59    1
13    1
14    1
19    1
21    1
22    1
24    1
37    1
39    1
47    1
53    1
27    1
Name: minute, dtype: int64

In [6]:
# 12.4.2
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(subset=['time'])  
log['time'] = log['time'].apply(lambda x: x[1:])
log.time = pd.to_datetime(log.time)
log['month'] = log.time.dt.month
display(log)
display(log.month.value_counts(ascending=True))

,user_id,time,bet,win,month
0,Запись пользователя № - user_919,2019-01-01 14:06:51,NaN,NaN,1
1,Запись пользователя № - user_973,2019-01-01 14:51:16,NaN,NaN,1
2,Запись пользователя № - user_903,2019-01-01 16:31:16,NaN,NaN,1
3,Запись пользователя № - user_954,2019-01-01 17:17:51,NaN,NaN,1
4,Запись пользователя № - user_954,2019-01-01 21:31:18,NaN,NaN,1
...,...,...,...,...,...
991,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0,4
992,Запись пользователя № - user_967,2019-04-20 14:59:36,10154.0,NaN,4
993,Запись пользователя № - user_973,2019-04-20 17:09:56,10254.0,NaN,4
994,Запись пользователя № - user_977,2019-04-20 18:10:07,10354.0,NaN,4
995,Запись пользователя № - user_984,2019-04-20 09:59:58,9754.0,NaN,4

4    170
2    259
3    264
1    292
Name: month, dtype: int64

In [7]:
# 12.4.3*
'''
Используйте оригинальные данные log.csv, столбец time.
Подсказка: можно использовать sum().
Посчитайте, сколько дней в данных являются выходными (то есть субботой или воскресеньем). 
Введите ответ в поле ниже.
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(subset=['time'])
#log = log.dropna()
log['time'] = log['time'].apply(lambda x: x[1:])
log.time = pd.to_datetime(log.time)
log['day_of_week'] = log.time.dt.dayofweek
display(log.head())
display(log[log.day_of_week.isin([5,6])].day_of_week)
display(log[log.day_of_week.isin([5,6])].day_of_week.value_counts().sum())

                            user_id                time  bet  win  day_of_week
0  Запись пользователя № - user_919 2019-01-01 14:06:51  NaN  NaN            1
1  Запись пользователя № - user_973 2019-01-01 14:51:16  NaN  NaN            1
2  Запись пользователя № - user_903 2019-01-01 16:31:16  NaN  NaN            1
3  Запись пользователя № - user_954 2019-01-01 17:17:51  NaN  NaN            1
4  Запись пользователя № - user_954 2019-01-01 21:31:18  NaN  NaN            1

39     5
40     5
41     5
42     5
43     5
      ..
991    5
992    5
993    5
994    5
995    5
Name: day_of_week, Length: 283, dtype: int64

283

In [8]:
#12.4.4*
'''
Используйте оригинальные данные log.csv, столбец time.
Подсказка: можно использовать value_counts(). 
Кроме этого, потребуется написать функцию, которая преобразует дату во время дня.
Договоримся, что с 0 до 5 часов - ночь, с 6 до 11 - утро, с 12 до 17 - день, с 18 до 23 - вечер.
Важно: для выполнения задания вам нужно будет избавиться от пропусков только в столбце time.
Вспомните, как избавиться от пропусков только по конкретному признаку.
Посчитайте, какое время дня встречается в данных реже всего.
Введите ответ в поле ниже: ночь, утро, день или вечер.
'''
import pandas as pd
from datetime import datetime
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(subset=['time'])
#log = log.dropna()
log['time'] = log['time'].apply(lambda x: x[1:])
log.time = pd.to_datetime(log.time)


def time_of_day(time):
    if time.hour >= 0 and time.hour < 6:
        return('night')
    elif time.hour >= 6 and time.hour < 12:
        return('morning')
    elif time.hour >= 12 and time.hour < 18:
        return('day')
    elif time.hour >= 18 and time.hour <= 23:
        return('evening')
    
    
log['time_of_day'] = log.time.apply(time_of_day)
display(log.time_of_day.value_counts(ascending=True))
display(log[['time', 'time_of_day']])

evening    227
day        240
morning    253
night      265
Name: time_of_day, dtype: int64

                   time time_of_day
0   2019-01-01 14:06:51         day
1   2019-01-01 14:51:16         day
2   2019-01-01 16:31:16         day
3   2019-01-01 17:17:51         day
4   2019-01-01 21:31:18     evening
..                  ...         ...
991 2019-04-20 12:55:41         day
992 2019-04-20 14:59:36         day
993 2019-04-20 17:09:56         day
994 2019-04-20 18:10:07     evening
995 2019-04-20 09:59:58     morning

[985 rows x 2 columns]

In [9]:
#12.4.5*
'''
Давайте повторим то, что мы прошли в этой секции. 
Напишите код, который создаст признак hour из признака time в датасете log.csv. Для этого:
1. загрузите датасет log.csv в переменную log, дальше работать будем с ней;
2. установите имена столбцов: ['user_id', 'time', 'bet', 'win'];
3. избавьтесь от пропусков в log;
4. приведите переменную time к подходящему для извлечения признаков виду;
5. получите значение часа для каждой строки в переменной time и запишите в столбец hour в log.
Результатом будет таблица log со столбцом hour внутри.
'''
import pandas as pd
from datetime import datetime
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
#log = log.dropna(subset=['time'])
log = log.dropna()
log['time'] = log['time'].apply(lambda x: x[1:])
log.time = pd.to_datetime(log.time)
log['hour'] = log.time.dt.hour
display(log.head())

,user_id,time,bet,win,hour
14,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
205,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0,5

In [10]:
#12.5.1
'''
Используйте оригинальный датасет log.csv. Результат запишите числом в поле ниже.
Подсказка: можно использовать value_counts().
Посчитайте, сколько раз люди приходили, но не делали ставок.
Для этого заполните пропуски в столбце bet значением 0 и посчитайте количество таких значений.
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)
display(log.bet.value_counts())

0.0          515
500.0         50
100.0         48
300.0         42
800.0         42
200.0         40
400.0         40
700.0         38
600.0         37
1000.0        37
900.0         30
9754.0        10
10554.0       10
10154.0        7
10254.0        7
10454.0        6
9954.0         6
10754.0        5
10654.0        5
10354.0        4
10054.0        4
9854.0         2
5000.0         1
27000.0        1
9876.0         1
156789.0       1
12945.0        1
12548.0        1
145732.0       1
1678321.0      1
98753.0        1
123981.0       1
104540.0       1
8700.0         1
950.0          1
8734.0         1
7650.0         1
Name: bet, dtype: int64

In [11]:
#12.5.2
'''
Используйте оригинальный датасет log.csv.
Проделайте с ним действия из задания 1, расположенного выше на этой странице, и из пункта "Заполнение с помощью функции".
Результат запишите числом в поле ниже.
Подсказка: можно использовать sum().
Посчитайте, сколько раз участники ставок проиграли деньги.
То есть посчитайте количество строк, для которых в столбце win находится отрицательное значение.
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return -row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)  
log['win'] = new_win  
display(log[log.win < 0].win.value_counts().sum())

347

In [12]:
# 12.6.1
'''
Используйте модифицированный в прошлой секции датасет log.csv. Результат запишите числом в поле ниже.
Подсказка - можно использовать sum().
Создайте признак net, хранящий сумму выигрыша с учетом ставки.
Для этого из признака win поэлементно вычтите признак bet и запишите в новый столбец.
После этого посчитайте, у скольких людей выигрыш положительный.
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return -row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

log['net'] = log.win - log.bet
display(log[log.net > 0].net.value_counts().sum())
#net формируется коряво

138

In [13]:
# 12.6.2
'''
Используйте датасет log.csv, получившийся в результате выполнения предыдущего задания.
Посчитайте среднее значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0.
Результат округлите до целого, отбросив дробную часть.
Подсказка: можно использовать mean().
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return -row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

log['net'] = log.win - log.bet
display(round(log[log.net > 0].net.mean()))
display(log.head(50))

80253

,user_id,time,bet,win,net
0,Запись пользователя № - user_919,[2019-01-01 14:06:51,0.0,0.0,0.0
1,Запись пользователя № - user_973,[2019-01-01 14:51:16,0.0,0.0,0.0
2,Запись пользователя № - user_903,[2019-01-01 16:31:16,0.0,0.0,0.0
3,Запись пользователя № - user_954,[2019-01-01 17:17:51,0.0,0.0,0.0
4,Запись пользователя № - user_954,[2019-01-01 21:31:18,0.0,0.0,0.0
5,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,-156789.0,-313578.0
6,Запись пользователя № - user_900,[2019-01-01 4:37:25,0.0,0.0,0.0
7,Запись пользователя № - user_980,[2019-01-01 6:31:23,0.0,0.0,0.0
8,Запись пользователя № - user_906,[2019-01-02 10:57:08,0.0,0.0,0.0
9,Запись пользователя № - user_952,[2019-01-02 16:55:06,0.0,0.0,0.0
10,Запись пользователя № - user_972,[2019-01-02 20:47:54,0.0,0.0,0.0
11,Запись пользователя № - user_966,[2019-01-02 21:32:20,0.0,0.0,0.0
12,Запись пользователя № - user_964,[2019-01-02 21:32:35,0.0,0.0,0.0
13,Запись пользователя № - user_978,[2019-01-02 5:25:40,0.0,0.0,0.0
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0,1841921.0
15,Запись пользователя № - user_968,[2019-01-02 9:32:24,0.0,0.0,0.0
16,Запись пользователя № - user_974,[2019-01-03 10:43:41,0.0,0.0,0.0
17,Запись пользователя № - user_998,[2019-01-03 11:29:08,0.0,0.0,0.0
18,Запись пользователя № - user_990,[2019-01-03 13:12:46,0.0,0.0,0.0
19,Запись пользователя № - user_942,[2019-01-03 14:03:21,98753.0,-98753.0,-197506.0
20,Запись пользователя № - user_929,[2019-01-03 17:20:23,0.0,0.0,0.0
21,Запись пользователя № - user_976,[2019-01-03 18:24:25,0.0,0.0,0.0
22,Запись пользователя № - user_927,[2019-01-03 18:45:54,0.0,0.0,0.0
23,Запись пользователя № - user_998,[2019-01-03 2:48:25,0.0,0.0,0.0
24,Запись пользователя № - user_951,[2019-01-03 5:30:43,0.0,0.0,0.0
25,Запись пользователя № - user_949,[2019-01-03 5:49:42,0.0,0.0,0.0
26,Запись пользователя № - user_976,[2019-01-04 1:59:34,0.0,0.0,0.0
27,Запись пользователя № - user_987,[2019-01-04 11:50:21,0.0,0.0,0.0
28,Запись пользователя № - user_976,[2019-01-04 12:49:31,0.0,0.0,0.0
29,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0,8198222.0
30,Запись пользователя № - user_985,[2019-01-04 15:07:26,0.0,0.0,0.0
31,Запись пользователя № - user_992,[2019-01-04 17:05:30,0.0,0.0,0.0
32,Запись пользователя № - user_929,[2019-01-04 18:21:37,0.0,0.0,0.0
33,Запись пользователя № - user_949,[2019-01-04 19:22:43,0.0,0.0,0.0
34,Запись пользователя № - user_937,[2019-01-04 2:59:24,0.0,0.0,0.0
35,Запись пользователя № - user_954,[2019-01-04 21:52:08,0.0,0.0,0.0
36,Запись пользователя № - user_913,[2019-01-04 23:16:33,0.0,0.0,0.0
37,Запись пользователя № - user_948,[2019-01-04 4:00:52,0.0,0.0,0.0
38,Запись пользователя № - user_954,[2019-01-04 5:40:14,0.0,0.0,0.0
39,Запись пользователя № - user_916,[2019-01-05 1:54:07,0.0,0.0,0.0
40,Запись пользователя № - user_942,[2019-01-05 10:44:56,0.0,0.0,0.0
41,Запись пользователя № - user_954,[2019-01-05 13:13:21,0.0,0.0,0.0
42,Запись пользователя № - user_985,[2019-01-05 14:36:15,0.0,0.0,0.0
43,Запись пользователя № - user_938,[2019-01-05 18:09:15,0.0,0.0,0.0
44,Запись пользователя № - user_997,[2019-01-05 20:55:29,0.0,0.0,0.0
45,Запись пользователя № - user_940,[2019-01-05 3:50:10,0.0,0.0,0.0
46,Запись пользователя № - user_918,[2019-01-05 3:56:22,0.0,0.0,0.0
47,Запись пользователя № - user_960,[2019-01-05 4:36:52,0.0,0.0,0.0
48,Запись пользователя № - user_905,[2019-01-05 5:11:21,0.0,0.0,0.0
49,Запись пользователя № - user_924,[2019-01-05 6:06:11,0.0,0.0,0.0

In [14]:
# 12.6.3
'''
Используйте датасет log.csv, получившийся в результате выполнения первого задания этого блока.
Посчитайте медианное значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0.
Результат округлите до целого, отбросив дробную часть.
Подсказка: можно использовать median().
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return -row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

log['net'] = log.win - log.bet
display(round(log[log.net > 0].net.median()))

5347

In [15]:
#12.7.1
'''
Используйте модифицированный исходный датасет log.csv.
При модификации датасета log.csv, пропущенные значения в столбцах bet и win замените на 0,
cоздайте столбец net, хранящий сумму выигрыша с учетом ставки 
(для этого из столбца win поэлементно вычтите столбец bet и запишите в новый столбец).
Посчитайте, какой процент посещений букмекерской конторы оборачивался ставкой. 
Для этого поделите количество ставок (значений больше 0) на общее количество посещений конторы.
Результат округлите до одного знака после запятой.
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return 0 #-row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

log['net'] = log.win - log.bet

perc = (log[log.bet > 0].bet.value_counts().sum() / log.bet.value_counts().sum())*100
dl = len(log.index)
display(dl)
display(round(perc, 1))

1000

48.5

In [16]:
#12.7.2
'''
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.
Посчитайте среднее значение ставки (из столбца bet) в тех случаях, когда ставка была сделана.
Результат округлите до целого, отбросив дробную часть.
Подсказка: можно использовать mean().
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return 0 #-row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

log['net'] = log.win - log.bet

display(log[log.bet > 0].bet.mean()//1)

6785.0

In [17]:
#12.7.3
'''
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.
Посчитайте средний выигрыш (из столбца net) в тех случаях, когда ставка была сделана.
Результат округлите до целого, отбросив дробную часть.
Пояснение: выигрыш в данном случае означает изменение количества денег и может быть отрицательным.
В таком случае это проигрыш.
Подсказка: можно использовать mean().
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return 0 #-row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

log['net'] = log.win - log.bet

display(log[log.bet > 0].net.mean()//1)

20421.0

In [18]:
#12.7.4
'''
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.
Посчитайте среднюю сумму потерь при проигрыше (из столбца net). Результат округлите до целого, отбросив дробную часть.
Пояснение: ответ должен быть дан в виде отрицательного числа.
Подсказка: можно использовать mean().
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return 0 #-row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

log['net'] = log.win - log.bet

display(log[log.net < 0].net.mean())

-3372.743515850144

In [19]:
#12.7.5
'''
Посчитайте, какой процент ставок заканчивается выигрышем, а какой - проигрышем.
Сравните эти значения и ответьте, какое из них больше.
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return 0 #-row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

log['net'] = log.win - log.bet

dl = len(log.index)
perc_win = (log[log.net > 0].net.value_counts().sum() / dl)*100
perc_fail = (log[log.net < 0].net.value_counts().sum() / dl)*100
print('win', perc_win)
print('fail', perc_fail)

win 13.8
fail 34.699999999999996

In [20]:
#12.7.6
'''
Давайте повторим то, что мы прошли в этой секции.
Напишите код, который узнает, чему была равна минимальная ставка и сколько людей сделали такую ставку. 
Для этого:
1. загрузите датасет log.csv;
2. посчитайте, чему равна минимальная ставка;
3. посчитайте, сколько раз была сделана минимальная ставка, 
и запишите результат в переменную min_bet_amount в виде целого числа.
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)

non_zero_bet_df = (log[log.bet > 0])

min_bet_amount = len(non_zero_bet_df[non_zero_bet_df.bet == non_zero_bet_df.bet.min()].bet)

In [37]:
#12.8.1
'''
Объедините датасеты log.csv и users.csv по признаку user_id по примеру выше. Ответ запишите в поле ниже.
Запишите количество строк в получившейся таблице.
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
us = pd.read_csv('bookmaker/users.csv', encoding = 'koi8-r', sep = '\t')
us.columns = ['user_id', 'email', 'geo']
#print(us.head())
# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

df_merge = pd.merge(us, log, on='user_id')
print(len(df_merge))

df_group = df_merge.groupby('user_id').win.median().median()  
print(df_group)

975
5951.75

In [79]:
#12.9.1
'''
Используйте датасет, который получился в результате всех преобразований выше 
(в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).
Посчитайте медиану баланса по каждому пользователю. Для этого сгруппируйте по пользователям,
возьмите признак net, просуммируйте по каждому пользователю и получите медиану.
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
us = pd.read_csv('bookmaker/users.csv', encoding = 'koi8-r', sep = '\t')
us.columns = ['user_id', 'email', 'geo']

log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return 0 #-row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

log['net'] = log.win - log.bet


#print(us.head())
# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

df_merge = pd.merge(us, log, on='user_id')
#print(len(df_merge))

df_group = df_merge.groupby('user_id').net.sum().median()  
print(df_group)

1986.0

In [135]:
#12.9.2
'''
Сколько раз в среднем каждый человек приходит, не делая ставок, при условии,
что у этого человека все-таки есть хотя бы одна ставка?
Например: Человек посетил букмекерскую контору 5 раз из них 1 раз сделал ставку,
4 раза нет - условие выполняется. Человек посетил букмекерскую контору 5 раз 
из них ни разу ставку не сделал - условие не выполняется.
Для того, чтобы узнать это, просуммируйте в каждой группе количество записей со ставкой,
равной 0, и поделите на общее количество групп. 
Если при этом в группе нет записей со ставкой больше 0,
считаем количество записей в данной группе равным 0.
'''
import pandas as pd
log = pd.read_csv('bookmaker/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
us = pd.read_csv('bookmaker/users.csv', encoding = 'koi8-r', sep = '\t')
us.columns = ['user_id', 'email', 'geo']

log.bet = log.bet.fillna(0)


def fillna_win(row):
    if row.bet > 0:
        if row.win > 0:
            return row.win
        else:
            return 0 #-row.bet
    else:
        return 0


new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

log['net'] = log.win - log.bet


#print(us.head())
# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

df = pd.merge(us, log, on='user_id')


zero_group = df[df.bet==0].groupby('user_id').bet.count().to_frame(name = 'zero').reset_index()
non_zero_group = df[df.bet>0].groupby('user_id').bet.count().to_frame(name = 'non_zero').reset_index()
all_group = df.groupby('user_id').bet.count().to_frame(name = 'vse').reset_index()
#print(zero_group)
#print(non_zero_group)
group = pd.merge(zero_group, non_zero_group, on='user_id')
group = pd.merge(group, all_group, on='user_id')
group['how_many'] = group[group.non_zero>0].vse - group[group.non_zero>0].non_zero
print(group.how_many.mean()//1)

5.0

In [140]:
#12.9.3
import pandas as pd
import datetime
us = pd.read_csv('bookmaker/users.csv', sep='\t', encoding = 'koi8_r')
us.columns = ['user_id','email','geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
log = pd.read_csv('bookmaker/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log.time = log.time.apply(lambda x:str(x).replace("[",""))
log.time = pd.to_datetime(log.time)
log['bet'] = log['bet'].fillna(0)
log['win'] = log['win'].fillna(0)
log['net'] = log['win'] - log['bet']
df = pd.merge(log, us, on='user_id')

min_zero = df[df.bet==0].groupby('user_id').time.min()
print(min_zero)
min_plus = df[df.bet>0].groupby('user_id').time.min()
print(min_plus)
min_plus.mean() - min_zero.mean()

user_id
user_1000   2019-01-21 19:31:34
user_900    2019-01-01 04:37:25
user_901    2019-01-07 08:45:59
user_902    2019-01-28 03:12:06
user_903    2019-01-01 16:31:16
                    ...
user_995    2019-01-07 09:56:20
user_996    2019-03-03 11:43:38
user_997    2019-01-05 20:55:29
user_998    2019-01-03 02:48:25
user_999    2019-01-07 10:07:52
Name: time, Length: 100, dtype: datetime64[ns]
user_id
user_1000   2019-01-28 20:57:37
user_900    2019-02-08 10:36:47
user_901    2019-03-14 13:51:20
user_902    2019-03-09 16:52:11
user_903    2019-02-08 11:06:00
                    ...
user_995    2019-02-26 15:29:25
user_996    2019-01-10 07:32:17
user_997    2019-03-05 11:05:39
user_998    2019-01-25 08:57:20
user_999    2019-03-15 22:50:47
Name: time, Length: 100, dtype: datetime64[ns]

Timedelta('46 days 06:54:48.000000')

In [145]:
#12.10.1
'''
Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).
Ответ запишите в поле ниже в виде одного слова, с большой буквы.
Наибольший суммарный выигрыш среди всех городов имеет Москва. Посчитайте следующий за ней город. 
Для этого сгруппируйте по городам, возьмите признак win, просуммируйте по каждому городу,
отсортируйте и получите второй город.
'''
import pandas as pd
import datetime
us = pd.read_csv('bookmaker/users.csv', sep='\t', encoding = 'koi8_r')
us.columns = ['user_id','email','geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
log = pd.read_csv('bookmaker/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log.time = log.time.apply(lambda x:str(x).replace("[",""))
log.time = pd.to_datetime(log.time)
log['bet'] = log['bet'].fillna(0)
log['win'] = log['win'].fillna(0)
log['net'] = log['win'] - log['bet']
df = pd.merge(log, us, on='user_id')

towns = df.groupby('geo').win.sum().to_frame(name = 'win').reset_index()
display(towns.sort_values('win', ascending=False))

                geo         win
7            Москва  11959741.0
1           Воронеж    184338.0
9   Санкт-Петербург    151007.0
4            Казань     97806.0
13        Ярославль     97441.0
3            Ижевск     84895.0
6        Красноярск     84767.0
0       Арзангелтск     74375.0
8             Пермь     67734.0
12        Хабаровск     65459.0
5         Краснодар     62718.0
10       Ставрополь     46003.0
2      Екатеринбург     36682.0
11           Тюмень      4701.0

In [148]:
#12.10.2
'''
Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).
Подсказки:
1. Можно использовать методы min() и max().
2. Учитывайте, что минимальная ставка, это ставка, которая была сделана, т.е. если ставка равна нулю - значит ставки не было.
3. Ответ запишите в поле ниже в виде целого числа (нужно отбросить дробную часть).
Во сколько раз различаются максимальное и минимальное значение средней ставки по городам? 
Для того, чтобы это посчитать, нужно сгруппировать по городам, взять среднее от признака bet, 
найти максимальное и минимальное значения, затем поделить одно на другое.
'''
import pandas as pd
import datetime
us = pd.read_csv('bookmaker/users.csv', sep='\t', encoding = 'koi8_r')
us.columns = ['user_id','email','geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
log = pd.read_csv('bookmaker/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log.time = log.time.apply(lambda x:str(x).replace("[",""))
log.time = pd.to_datetime(log.time)
log['bet'] = log['bet'].fillna(0)
log['win'] = log['win'].fillna(0)
log['net'] = log['win'] - log['bet']
df = pd.merge(log, us, on='user_id')

towns = df[df.bet>0].groupby('geo').bet.mean().to_frame(name = 'bet_mean').reset_index()
diff = towns.bet_mean.max() / towns.bet_mean.min()
display(diff//1)

127.0

In [154]:
#12.10.3
'''
Давайте повторим все, что мы прошли в этой секции.
Напишите код, который посчитает, сколько раз пользователи приходили в букмекерскую контору в каждом городе. 
Для этого:
1. загрузите датасеты log.csv и users.csv;
2. удалите user_id с ошибкой (#error) и приведите признак user_id к одному виду в обоих датасетах;
3. слейте два датасета в один по признаку user_id;
4. сгруппируйте данные по правильному признаку (какому - вам нужно понять самим),
   затем выберите user_id и воспользуйтесь функцией count() для подсчета наблюдений в каждой группе;
5. результат (таблицу) запишите в sample2.
'''
import pandas as pd
import datetime
us = pd.read_csv('bookmaker/users.csv', sep='\t', encoding = 'koi8_r')
us.columns = ['user_id','email','geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
log = pd.read_csv('bookmaker/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log.time = log.time.apply(lambda x:str(x).replace("[",""))
log.time = pd.to_datetime(log.time)
log['bet'] = log['bet'].fillna(0)
log['win'] = log['win'].fillna(0)
log['net'] = log['win'] - log['bet']
df = pd.merge(log, us, on='user_id')
sample2 = df.groupby('geo').time.count()
display(sample2)

geo
Арзангелтск         96
Воронеж             88
Екатеринбург        49
Ижевск              61
Казань              66
Краснодар           86
Красноярск          56
Москва              61
Пермь               55
Санкт-Петербург    115
Ставрополь          36
Тюмень              32
Хабаровск           60
Ярославль           89
Name: time, dtype: int64