In [8]:
import pandas as pd
data = pd.Series(list(range(10, 1001)))
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])
print(data.loc[23])
print(data.loc[245])
print(data.iloc[0])
print(data.loc[0])

-70
33
255
10
10

In [11]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
#display(football.info())
#display(football.head())
#display(football.tail())
#display(football.describe())
#display(football.describe(include = ['object']))
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#    display(football.describe())
display(football.Age.mean())
display(football.Composure.count())
display(football.ShortPassing.std())
display(football.Wage.sum())
display(football.Value.min())

24.795378770256647

12897

14.740435689517149

96954000

0

In [75]:
#python-5
import pandas as pd
football = pd.read_csv('data_sf.csv')

#football[football.Age > 20]
#1
display(round(football[football.Wage > football.Wage.mean()].SprintSpeed.mean(),2))
#2
display(round(football[football.Wage < football.Wage.mean()].SprintSpeed.mean(),2))
#3
display(football[football.Wage == football.Wage.max()].Position)
#4
display(football[football.Nationality == 'Brazil'].Penalties.sum())
#5
display(round(football[football.HeadingAccuracy > 50].Age.mean(),2))
#6
display(football[(football.Composure > football.Composure.max()*0.9) 
                 & (football.Reactions > football.Reactions.max()*0.9)].Age.min())
#7
display(round(football[football.Age == football.Age.max()].Reactions.mean()
                 - football[football.Age == football.Age.min()].Reactions.mean(),2))
#8
display(football[football.Value > football.Value.mean()].Nationality.value_counts().idxmax())
#9
display(round(football[(football.Position == 'GK') 
                 & (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
                 / football[(football.Position == 'GK')
                 & (football.GKHandling == football.GKHandling.max())].Wage.mean(),2))
#10
display(round(football[football.Aggression == football.Aggression.max()].ShotPower.mean()
                 / football[football.Aggression == football.Aggression.min()].ShotPower.mean(),2))

67.57

62.41

0    RF
Name: Position, dtype: object

22789

25.59

24

22.64

'Spain'

2.77

2.08

In [82]:
#python-6
import pandas as pd
df = pd.read_csv('data_sf.csv')
#1
display(len(df['Club'].value_counts()))
#2
display(df['Club'].value_counts())

650

Shonan Bellmare      30
V-Varen Nagasaki     30
Vissel Kobe          29
FC Emmen             29
Padova               29
                     ..
Olympiacos CFP        8
Dinamo Zagreb         7
GD Chaves             7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [18]:
#python-6.4
import pandas as pd
df = pd.read_csv('data_sf.csv')
display(df.Position.value_counts(normalize=True))
s = df['FKAccuracy'].value_counts(bins=5)
display(s)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [62]:
#python-6.6
import pandas as pd
df = pd.read_csv('data_sf.csv')
#1
display(df[df.Nationality == 'Spain'].Wage.value_counts(bins=4, normalize=True))
#2
display(df[df.Club == 'Manchester United'].Nationality.nunique())
#3
#s = small_df['Wage'].value_counts(bins=4)
#display(s)
#small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]
display(df[(df.Nationality == 'Brazil') & (df.Club == 'Juventus')].Name.unique())
#4
display(df[df.Age > 35].Club.value_counts())
#5
display(df[df.Nationality == 'Argentina'].Age.value_counts(bins = 4))
#6
display(df[(df.Nationality == 'Spain')].Age.value_counts(normalize = True))

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

13

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

Club Atlético Huracán                  4
Hokkaido Consadole Sapporo             4
Club Atlético Tigre                    3
Estudiantes de La Plata                3
Club Atlético Colón                    3
                                      ..
Chongqing Dangdai Lifan FC SWM Team    1
LASK Linz                              1
Montreal Impact                        1
Birmingham City                        1
Tianjin Quanjian FC                    1
Name: Club, Length: 212, dtype: int64

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [69]:
#python-6.7.1
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df.groupby(['Position'])['Wage'].sum()
display(grouped_df.sort_values(ascending = False).head(10))

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
Name: Wage, dtype: int64

In [72]:
#python-6.8.1
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df.groupby(['Position'])['Wage', 'Value'].mean()
display(grouped_df.sort_values(['Value'], ascending = False))

C:\Users\kmv\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [88]:
#python-6.9.1
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
display(grouped_df)
display(len(grouped_df[grouped_df['mean'] == grouped_df['median']]))

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000
...                            ...     ...
Zagłębie Sosnowiec     1080.000000    1000
Çaykur Rizespor        5363.636364    4500
Örebro SK              1384.615385    1000
Östersunds FK          1950.000000    1000
Śląsk Wrocław          2083.333333    2000

[650 rows x 2 columns]

52

In [91]:
#python-6.9.2
import pandas as pd
df = pd.read_csv('data_sf.csv')
grouped_df = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
display(grouped_df)
display(grouped_df[grouped_df['mean'] == grouped_df['median']].sort_values(['mean'], ascending = False).head(10))

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000
...                            ...     ...
Zagłębie Sosnowiec     1080.000000    1000
Çaykur Rizespor        5363.636364    4500
Örebro SK              1384.615385    1000
Östersunds FK          1950.000000    1000
Śląsk Wrocław          2083.333333    2000

[650 rows x 2 columns]

                      mean  median
Club
Cruzeiro           13000.0   13000
Göztepe SK          7000.0    7000
Brøndby IF          6000.0    6000
Sunderland          4000.0    4000
CD Feirense         4000.0    4000
1. FC Magdeburg     4000.0    4000
Northampton Town    2500.0    2500
Stade Brestois 29   2000.0    2000
Jeonnam Dragons     2000.0    2000
Pohang Steelers     2000.0    2000

In [116]:
#python-6.10.1
import pandas as pd
df = pd.read_csv('data_sf.csv')
chel_df = df[df.Club == 'Chelsea']
grouped_df = chel_df.groupby(['Club'])['Wage'].sum()
print(grouped_df)

Club
Chelsea    2035000
Name: Wage, dtype: int64