In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1352,tt0418763,72000000,96889998,Jarhead,Jamie Foxx|Jake Gyllenhaal|Scott MacDonald|Luc...,Sam Mendes,Welcome to the suck.,Jarhead is a film about a US Marine Anthony Sw...,125,Drama|War,Universal Pictures|Neal Street Productions|Red...,11/4/2005,6.4,2005
1806,tt0175142,19000000,278019771,Scary Movie,Carmen Electra|Dave Sheridan|Anna Faris|Jon Ab...,Keenen Ivory Wayans,No mercy. No shame. No sequel.,Following on the heels of popular teen-scream ...,88,Comedy,Gold/Miller Productions|Wayans Bros. Entertain...,7/7/2000,5.9,2000
1715,tt0891527,35000000,63215872,Lions for Lambs,Robert Redford|Meryl Streep|Tom Cruise|Michael...,Robert Redford,"If you don't STAND for something, you might FA...",Three stories told simultaneous in ninety minu...,92,Action|Adventure|Drama|History,Cruise/Wagner Productions|United Artists|Wildw...,10/22/2007,5.7,2007
739,tt1284575,20000000,216197492,Bad Teacher,Jason Segel|Cameron Diaz|Justin Timberlake|Luc...,Jake Kasdan,She doesn't give an F.,"A lazy, incompetent middle school teacher who ...",92,Comedy,Columbia Pictures|Mosaic Media Group,5/16/2011,5.4,2011
434,tt1458175,30000000,51148651,The Next Three Days,Russell Crowe|Elizabeth Banks|Brian Dennehy|RZ...,Paul Haggis,What if you had 72 hours to save everything yo...,A married couple's life is turned upside down ...,133,Romance|Drama|Thriller|Crime,Lionsgate|FidÃ©litÃ© Films|Hwy61,11/18/2010,6.8,2010

In [93]:
display(data.describe())
display(data.info())

,budget,revenue,runtime,vote_average,release_year,profit,release_month
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,6.933298
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,3.390196
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,4.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,7.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,10.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,12.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  release_month         1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(8)
memory usage: 236.2+ KB

None

# Предобработка

In [94]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data.release_date = pd.to_datetime(data.release_date)
#Generate extra column: profit 
data['profit'] = data.revenue - data.budget
#Generate extra column: release_month 
data['release_month'] =  pd.DatetimeIndex(data.release_date).month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
display(data[data.budget == data.budget.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [13]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [10]:
display(data[data.runtime == data.runtime.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [23]:
answers['3'] = 'Winnie the Pooh'
display(data[data.runtime == data.runtime.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011

# 4. Какова средняя длительность фильмов?

In [26]:
answers['4'] = '110'
display(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [28]:
answers['5'] = '107'
display(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [33]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar'
display(data[data.profit == data.profit.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [35]:
answers['7'] = 'The Lone Ranger'
display(data[data.profit == data.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [51]:
answers['8'] = '1478'
display(data.query('revenue > budget').imdb_id.count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [64]:
answers['9'] = 'The Dark Knight'
df2008 = data[data.release_year == 2008]
display(df2008[df2008.revenue == df2008.revenue.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [67]:
answers['10'] = 'The Lone Ranger'
df_range = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
display(df_range[df_range.profit == df_range.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [105]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
genres = (data.genres.tolist())
big_list = []
for i in genres:
    for j in i.split('|'):
        big_list.append(j)
big_series = pd.Series(big_list)
display (big_series.value_counts())

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [104]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [108]:
answers['12'] = 'Drama'
display(pd.DataFrame(data[data.profit > 0].genres.str.split('|').tolist()).stack().value_counts())

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [62]:
answers['13'] = 'Peter Jackson'
def director_revenue(df, directors, revenue):
    summ = Counter()
    for i in range(len(df)):
        for j in directors[i].split('|'):
            summ[j] += revenue[i]
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Summ'])
    
display(director_revenue(data, data.director, data.revenue).sort_values(by=['Summ'], ascending = False))

                         Summ
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[997 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [12]:
answers['14'] = 'Robert Rodriguez'
def counter(movie_bd, x):
    #display(movie_bd)
    data_plot=movie_bd[x].str.cat(sep='|')
    #display(data_plot)
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info
sum_gen = counter(data[data['genres'].map(lambda x: True if 'Action' in x else False)],'director')
print(sum_gen)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Gary Goldman          1
Josh Trank            1
Bruce Beresford       1
Mark Andrews          1
Michael J. Bassett    1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [56]:
answers['15'] = 'Chris Hemsworth'
def actor_revenue(df):
    summ = Counter()
    for i in range(len(df)):
        for j in df.iloc[i].cast.split('|'):
            summ[j] += df.iloc[i].revenue
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Summ'])

display(actor_revenue(data[data.release_year == 2012]).sort_values(by=['Summ'], ascending = False))

#check answer
display(data[(data.cast.str.contains('Chris Hemsworth')) & (data.release_year == 2012)].revenue.sum())

                         Summ
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Jason Bateman         3428048
Nicolas Cage          2106557
Sami Gayle            2106557
Josh Lucas            2106557
Danny Huston          2106557

[466 rows x 1 columns]

2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [70]:
answers['16'] = 'Matt Damon'
def actor(df):
    who = []
    for i in range(len(df)):
        for j in df.iloc[i].cast.split('|'):
            who.append(j)
    who_series = pd.Series(who)
    return who_series

#display(data[data.budget > data.budget.mean()])
display(actor(data[data.budget > data.budget.mean()]).value_counts())

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Dash Mihok            1
GÃ©rard Depardieu     1
Steven Brand          1
Venus Schultheis      1
Craig Bierko          1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [59]:
answers['17'] = 'Action'
genres = (data[data.cast.str.contains('Nicolas Cage')].genres.tolist())
big_list = []
for i in genres:
    for j in i.split('|'):
        big_list.append(j)
big_series = pd.Series(big_list)
display (big_series.value_counts())

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Horror              1
Romance             1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [77]:
answers['18'] = 'K-19: The Widowmaker'
paramount_df = data[data.production_companies.str.contains('Paramount Pictures')]
display(paramount_df[paramount_df.profit == paramount_df.profit.min()].original_title)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [104]:
answers['19'] = '2015'
display(data.groupby(['release_year']).aggregate(sum).revenue.sort_values(ascending = False))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [123]:
answers['20'] = '2014'
warner_df = data[data.production_companies.str.contains('Warner Bros')]
display(warner_df.groupby(['release_year']).aggregate(sum).profit.sort_values(ascending = False))

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [113]:
answers['21'] = '9'
display(data.groupby(['release_month'])[['imdb_id']].count().sort_values(['imdb_id'], ascending = False))

               imdb_id
release_month
9                  227
12                 190
10                 186
8                  161
3                  156
4                  149
6                  147
11                 146
7                  142
5                  140
2                  135
1                  110

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [121]:
answers['22'] = '450'
summer_months = [6, 7, 8]
display(data[data.release_month.isin(summer_months)].imdb_id.count())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)